

a:hover {
  text-decoration: none;
  background-color: rgb(35, 130, 188);
}

.dropContainer {
  border:1px solid rgb(65,185,154);
  border-radius: 5px;
  background-color: rgba(55,178,155,.8);
  color: white;
}

.container {
  width:450px;
  height:350px;
  background-color:rgb(55,125,205);
  padding: 5px;
  border: solid 1px black;
  border-radius:4px;
}

.genButton{
  border:1px solid rgb(65,185,154);
  border-radius: 5px;
  background-color:rgb(55,125,205);
  color:white;
  margin-left:30px;
}

.error {
  width:100px;
  height:45px;
  color:red;
  text-decoration: line-through;
}