td {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

table {
    display: grid;
    grid-gap: 5px;
    background-color: pink;
    padding: 3px;
    height: 50%;
    margin: auto;
    width: 35em;
    border: 2px solid black;
  }
  
  table > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    border: 1px solid black;
  }
  
  button {
      
      font-weight: bold;
      background-color: white;
      color: black;
      padding: 15px 20px;
      text-align: center;
      display: inline-block;
      font-size: 30px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 14px;
  }